html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #b2b6c75b 0%, rgba(148, 151, 168, 0.902) 100%);
  background-attachment: fixed;
}

.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background-color: hwb(135 93% 4%);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login h1 {
  font-weight: bold;
  margin-bottom: 25px;
  color: hsla(216, 80%, 40%, 0.575);
}

.container {
  background-color: rgba(255, 255, 255, 0.85); 
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}